blockquote {
  color: #FFF;
  background-color: #000;
  margin: 1.5em 10px;
  padding: 0.5em 20px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote a.button:any-link::before {
  background-color: #ff558f;
  content: "";
  display: inline-block;
  height: 24px;
  margin-right: 15px;
  width: 5px;
}

blockquote a.button:any-link {
  all: unset;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}